
// Core colours
$white: #FFFFFF;
$fade: #EEEEEE;
$primary: #EA008E; // Peach
$primary-fade: lighten(#EA008E,20%); // Light Peach
$dark: #4A4A4A; // Blue
$dark-medium: #7C8F9C;
$dark-fade: #AAB5BD; // Light Blue

$light: #C4E2F5;
$grey: #9B9B9B;

$green: #10A49B;
$pink: #FE01A5;
$amber: #FAC058;
$blue: #0077C3;

// States
$success: #91FE84;

// Packages
$oprah: #FEFF7B; // Yellow
$elizabeth: #7EADFF; // Blue

// Phone Widths
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Mixins
@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin animation($element,$time,$ease) {
    webkit-transition: $element $time $ease;
    -moz-transition: $element $time $ease;
    -o-transition: $element $time $ease;
    transition: $element $time $ease;
}

// Fonts

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('fonts/MaterialIcons-Regular.woff') format('woff'),
       url('fonts/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Font Awesome Brands';
  src: url('fonts/FontAwesomeBrands-Regular-webfont.eot?v=1.0.0');
  src: url('fonts/FontAwesomeBrands-Regular-webfont.eot?#iefix&v=1.0.0') format('embedded-opentype'), url('fonts/FontAwesomeBrands-Regular-webfont.woff2?v=1.0.0') format('woff2'), url('fonts/FontAwesomeBrands-Regular-webfont.woff?v=1.0.0') format('woff'), url('fonts/FontAwesomeBrands-Regular-webfont.ttf?v=1.0.0') format('truetype'), url('fonts/FontAwesomeBrands-Regular-webfont.svg?v=1.0.0#font_awesome_brandsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: $fade;
	-webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.44;
}

h1,h2 {
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.44;
}

.clearboth {
  clear: both;
}

p {
	color: $grey;
}

.white {
  background: $white;
}

.pink {
  background: $pink;
}

.blue {
  background: $blue;
}

.green {
  background: $green;
}

.amber {
  background: $amber;
}

.strong {
	color: $dark;
	font-weight: 500;
}

// Text Aligns
.tar {

	@include phone {
		text-align: center;
	}

	@include tablet {
			text-align: right;
	}

	@include desktop {
			text-align: right;
	}

}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}


// Containers and Cards
.cont {
  display: flex;

  &--right {
    float: right;
  }

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

	&--space {
		justify-content: space-between;
	}

}

.underlink {
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
  color: $dark;
  display: block;
  margin: 15px 0;

  &:hover {
    color: lighten($dark,10%);
  }

}

.col {
  flex: 1;

	&--nest {
		padding: 15px;
	}

}

.card {
  position: relative;
  background-color: $white;
  padding: 30px;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  color: $white;
  padding: 8px 20px;
  border-radius: 3px;
  background-color: $primary;
	border-color: $primary;
  font-weight: bold;
  font-size: 1em;
	@include animation(all,0.2s,linear);

	&:hover, &:focus {
		background-color: darken($dark,10%);
		border-color: darken($dark,10%);
		color: $white;
	}

  &-primary {
    background-color: $pink;
    border-color: $pink;

    &:hover {
      background-color: darken($pink,10%);
      border-color: darken($pink,10%);
    }

  }

  &-secondary {
    background-color: $green;
    border-color: $green;
  }

	&-ghost {
		background: transparent;
		border: 2px solid transparent;

		&:hover, &:focus {
			background: transparent;
			border: 2px solid transparent;
			opacity: 0.7;
		}
	}

	&--large {
		padding: 15px 30px;
		@include phone {
			font-size: 14px;
		}

		@include desktop {
			font-size: 18px;
		}
	}

	&--success {
		background-color: $success !important;
		border-color: $success !important;
		color: $dark !important;
	}

}

.form-control {
	height: 40px;
	color: $dark;
  margin-bottom: 20px;

	&:hover, &:focus {
		outline: none;
		box-shadow: none;
		border: 2px solid $primary;
	}

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.overlay {
	background: rgba(33,33,33,0.5);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 3;
	display: none;

	@include phone {
		padding: 0 15px;
	}

	@include tablet {
			padding: 0
	}

	@include desktop {
			padding: 0
	}

	&__box {
		background: $white;
		padding: 30px;
		color: $dark;
		width: 100%;
		max-width: 700px;
		border-radius: 3px;

		@include phone {
			margin: 30px auto;
		}

		@include tablet {
				margin: 60px auto;
		}

		@include desktop {
				margin: 60px auto;
		}

	}

	&__close {
		color: red;

		&:hover {
			color: lighten(red,20%);
			cursor: pointer;
		}

	}

}

.bts,
.btb,
.btr,
.btl,
.fab {
  display: inline-block;
  font: normal normal normal 14px/1 "Black Tie";
  font-size: inherit;
  vertical-align: -14.28571429%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.bts {
  font-weight: 900;
}
.btb {
  font-weight: 700;
}
.btl {
  font-weight: 200;
}
.fab {
  font-family: "Font Awesome Brands";
}

.fab-facebook:before {
  content: "\f000";
}
.fab-facebook-alt:before {
  content: "\f001";
}
.fab-twitter:before {
  content: "\f002";
}
.fab-linkedin:before {
  content: "\f003";
}
.fab-linkedin-alt:before {
  content: "\f004";
}
.fab-instagram:before {
  content: "\f005";
}
.fab-github:before {
  content: "\f006";
}
.fab-github-alt:before {
  content: "\f007";
}
.fab-googleplus:before {
  content: "\f008";
}
.fab-googleplus-alt:before {
  content: "\f009";
}
.fab-pinterest:before {
  content: "\f00a";
}
.fab-pinterest-alt:before {
  content: "\f00b";
}
.fab-tumblr:before {
  content: "\f00c";
}
.fab-tumblr-alt:before {
  content: "\f00d";
}
.fab-bitcoin:before {
  content: "\f010";
}
.fab-bitcoin-alt:before {
  content: "\f011";
}
.fab-dropbox:before {
  content: "\f012";
}
.fab-stackexchange:before {
  content: "\f013";
}
.fab-stackoverflow:before {
  content: "\f014";
}
.fab-flickr:before {
  content: "\f015";
}
.fab-flickr-alt:before {
  content: "\f016";
}
.fab-bitbucket:before {
  content: "\f017";
}
.fab-html5:before {
  content: "\f018";
}
.fab-css3:before {
  content: "\f019";
}
.fab-apple:before {
  content: "\f01a";
}
.fab-windows:before {
  content: "\f01b";
}
.fab-android:before {
  content: "\f01c";
}
.fab-linux:before {
  content: "\f01d";
}
.fab-dribbble:before {
  content: "\f01e";
}
.fab-youtube:before {
  content: "\f021";
}
.fab-skype:before {
  content: "\f022";
}
.fab-foursquare:before {
  content: "\f023";
}
.fab-trello:before {
  content: "\f024";
}
.fab-maxcdn:before {
  content: "\f025";
}
.fab-gittip:before,
.fab-gratipay:before {
  content: "\f026";
}
.fab-vimeo:before {
  content: "\f027";
}
.fab-vimeo-alt:before {
  content: "\f028";
}
.fab-slack:before {
  content: "\f029";
}
.fab-wordpress:before {
  content: "\f02a";
}
.fab-wordpress-alt:before {
  content: "\f02b";
}
.fab-openid:before {
  content: "\f02c";
}
.fab-yahoo:before {
  content: "\f02d";
}
.fab-yahoo-alt:before {
  content: "\f02e";
}
.fab-reddit:before {
  content: "\f02f";
}
.fab-google:before {
  content: "\f030";
}
.fab-google-alt:before {
  content: "\f031";
}
.fab-stumbleupon:before {
  content: "\f032";
}
.fab-stumbleupon-alt:before {
  content: "\f033";
}
.fab-delicious:before {
  content: "\f034";
}
.fab-digg:before {
  content: "\f035";
}
.fab-piedpiper:before {
  content: "\f036";
}
.fab-piedpiper-alt:before {
  content: "\f037";
}
.fab-drupal:before {
  content: "\f038";
}
.fab-joomla:before {
  content: "\f039";
}
.fab-behance:before {
  content: "\f03a";
}
.fab-steam:before {
  content: "\f03b";
}
.fab-steam-alt:before {
  content: "\f03c";
}
.fab-spotify:before {
  content: "\f03d";
}
.fab-deviantart:before {
  content: "\f03e";
}
.fab-soundcloud:before {
  content: "\f040";
}
.fab-vine:before {
  content: "\f041";
}
.fab-codepen:before {
  content: "\f042";
}
.fab-jsfiddle:before {
  content: "\f043";
}
.fab-rebel:before {
  content: "\f044";
}
.fab-empire:before {
  content: "\f045";
}
.fab-git:before {
  content: "\f046";
}
.fab-hackernews:before {
  content: "\f047";
}
.fab-hackernews-alt:before {
  content: "\f048";
}
.fab-slideshare:before {
  content: "\f049";
}
.fab-twitch:before {
  content: "\f04a";
}
.fab-yelp:before {
  content: "\f04b";
}
.fab-paypal:before {
  content: "\f04c";
}
.fab-google-wallet:before {
  content: "\f04d";
}
.fab-angellist:before {
  content: "\f04e";
}
.fab-cc-visa:before {
  content: "\f050";
}
.fab-cc-mastercard:before {
  content: "\f051";
}
.fab-cc-discover:before {
  content: "\f052";
}
.fab-cc-amex:before {
  content: "\f053";
}
.fab-cc-paypal:before {
  content: "\f054";
}
.fab-cc-stripe:before {
  content: "\f055";
}
.fab-lastfm:before {
  content: "\f056";
}
.fab-whatsapp:before {
  content: "\f057";
}
.fab-medium:before {
  content: "\f058";
}
.fab-meanpath:before {
  content: "\f059";
}
.fab-meanpath-alt:before {
  content: "\f05a";
}
.fab-pagelines:before {
  content: "\f05b";
}
.fab-ioxhost:before {
  content: "\f060";
}
.fab-buysellads:before {
  content: "\f061";
}
.fab-buysellads-alt:before {
  content: "\f062";
}
.fab-connectdevelop:before {
  content: "\f063";
}
.fab-dashcube:before {
  content: "\f064";
}
.fab-forumbee:before {
  content: "\f065";
}
.fab-leanpub:before {
  content: "\f066";
}
.fab-sellsy:before {
  content: "\f067";
}
.fab-shirtsinbulk:before {
  content: "\f068";
}
.fab-simplybuilt:before {
  content: "\f069";
}
.fab-skyatlas:before {
  content: "\f06a";
}
.fab-viacoin:before {
  content: "\f06b";
}
.fab-codiepie:before {
  content: "\f06c";
}
.fab-queue:before {
  content: "\f06d";
}
.fab-queue-alt:before {
  content: "\f06e";
}
.fab-fonticons:before {
  content: "\f070";
}
.fab-fonticons-alt:before {
  content: "\f071";
}
.fab-blacktie:before {
  content: "\f072";
}
.fab-blacktie-alt:before {
  content: "\f073";
}
.fab-xing:before {
  content: "\f090";
}
.fab-vk:before {
  content: "\f091";
}
.fab-weibo:before {
  content: "\f092";
}
.fab-renren:before {
  content: "\f093";
}
.fab-tencent-weibo:before {
  content: "\f094";
}
.fab-qq:before {
  content: "\f095";
}
.fab-wechat:before,
.fab-weixin:before {
  content: "\f096";
}


// Card Shadows
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
